* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header section */

.box {
  background: url('images/porfolio\ background.jpg') top no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: table;
  font-family: 'Handjet', cursive;
  font-weight: 800;
  font-size: 30px;
}

.box-text {
  text-align: center;
  padding-top: 50px;
}
/* about me section */
.aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}
.aboutme h1 {
  color: skyblue;
}
.aboutme img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 10px;
}

/* skills section  */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: skyblue;
}

.flex-1 {
  display: flex;
  flex-direction: row;
}
.flex-1 img {
  flex: 1;
  padding: 15px;
  margin: 20px;
}
.flex-1 p {
  flex: 3;
  padding: 15px;
  margin: 20px;
}
.flex-2 {
  display: flex;
  flex-direction: row;
}
.flex-2 p {
  flex: 3;
  padding: 15px;
  margin: 20px;
}
.flex-2 img {
  flex: 1;
  padding: 15px;
  margin: 20px;
}

/* get in touch  */
.get-in-touch {
  text-align: center;
}
.get-in-touch h1 {
  color: skyblue;
  font-size: bold;
}

.btn {
  border-radius: 5px;
  width: 150px;
  height: 40px;
  background: skyblue;
  margin-bottom: 50px;
}

.btn:hover {
  background: yellow;
  cursor: pointer;
}

footer {
  background: skyblue;
  padding-bottom: 50px;
}

nav a {
  display: inline-table;
  align-content: center;
  justify-content: center;
  padding: 30px;
  margin-right: 100px;
  text-decoration: none;
}

nav a:hover {
  color: yellow;
  cursor: pointer;
}

.Footer {
  text-align: center;
  color: white;
}
